@use './mixin' as *;
@use './variable' as *;

/* box01 */
.swiper{
    > div{
        position: relative;
        > .swiper-wrapper{
            width: $all * 5;
            display: flex;
            flex-wrap: nowrap;
            > .swiper-slide.no01{
                width: 20%;
                height: 100vh;
                background: url('#{$img}/box01_pic1.jpg') no-repeat left top;
                text-indent: -99999px;}
                .swiper-slide.no02{
                    background: url('#{$img}/box01_pic2.jpg')  no-repeat left top;
                    width: 20%;
                    height: 100vh;
                    text-indent: -99999px;
                }
                .swiper-slide.no03{
                    background: url('#{$img}/box01_pic3.jpg') no-repeat left top;
                    width: 20%;
                    height: 100vh;
                    text-indent: -99999px;
                }
                .swiper-slide.no04{
                    background: url('#{$img}/box01_pic4.jpg') no-repeat left top;
                    width: 20%;
                    height: 100vh;
                    text-indent: -99999px;
                }
                .swiper-slide.no05{
                    background: url('#{$img}/box01_pic5.jpg') no-repeat left top;
                    width: 20%;
                    height: 100vh;
                    
                }
            
        }
        > .swiper-button-prev{
            @include position($start:$mini,$end:calc($all / 2));
            width: $wide;
            height: $high;
            color: $gray;
            // i{
            //     font-size: $morethan;
            // }
        }
        > .swiper-button-next{
            position: absolute;
            right: $mini; top: calc($all / 2);
            width: $wide;
            height: $high;
            color: $gray;
            // i{
            //     font-size: $morethan;
            // }
        }
    }
}

/* box02 */
#box02{
    padding: $mini * 2 0 77px;
    h3{
        text-align: $center;
        color: $black;
        font-size: $small * 2;
        margin-bottom: $more + 9;
    }
    // 갤러리
    #gallery{
        position: $relative;
        #show{
            width: $middle;
            margin: 0 auto;
            overflow: hidden;
            #all{
                width: 4305px;
                @include layout($justify:space-between);
                ul{
                    width: $middle;
                    display: flex;
                    li{
                        width: 280px;
                        margin-left: 7px;
                        figure{
                            margin-bottom: $size + 2;
                            img{
                                width: $all;
                            }
                        }
                        figcaption{
                            dl{
                                position: $relative;
                                dt{
                                    font-size: $size;
                                    color: $black;
                                    margin-bottom: $large + 4;
                                }
                                dd{
                                    ins{
                                        font-size: $size;
                                        color: $black;
                                        background-color: $basic;
                                    }
                                    del{
                                        font-size: $size;
                                        color: $gray;
                                    }
                                    &:nth-child(2){
                                        margin-bottom: $size;
                                    }
                                    &:nth-child(3){
                                        position: absolute;
                                        left: $morethan; bottom: $mini + 4;
                                        font-size: $size - 1;
                                        color: $red;
                                    }
                                    > button{
                                        font-size: $size;
                                        color: $gray;
                                        background-color: $basic;
                                        @include border;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        > .prev{
            @include position($start:117px,$end:40%);
            width: $wide;
            height: $high;
            color: $gray;
            > i{
                font-size: $more;
            }
        }
        > .next{
            @include post($right:117px,$to:40%);
            width: $wide;
            height: $high;
            color: $gray;
            > i{
                font-size: $more;
            }
        }
    }
}

/* box03 */
#box03{
    background: url('#{$img}/box03_pic1.jpg') no-repeat left top;
    background-size: $all;
    height: 100vh;
    position: $relative;
    > div{
        width: $all;
        background-color: rgba(136, 136, 136, 0.416);
        @include position($start:0,$end:25%);
        padding:10 0 $small;
        h3{
            font-size: $large * 2;
            font-weight: $weight;
            color: $basic;
            margin: 0 0 $size * 2 $morethan * 2;
        }
        p{
            width: 745px;
            font-size: $large;
            line-height: $large;
            color: $basic;
            margin: 0 0 $more $morethan * 2;
            &:nth-child(2){
                margin-bottom: $large + 2;
            }
            &:nth-child(3){
                font-size: $small;
                margin-bottom: $large * 3;
            }
            &:nth-child(4){
                margin-bottom: 0;
                > button{
                    width: 243px;
                    font-size: $large;
                    line-height: $more + 5;
                    color: $gray;
                    @include border;
                }
            }
        }
    }
}

/* box04 */
#box04{
    padding: $large * 3 0 77px;
    position: $relative;
    #men{
        width: $middle;
        margin: 0 auto;
        h3{
            width: $morethan * 5;
            font-size: $large + 10;
            font-weight: $weight;
            border-bottom: 1px solid $gray;
            padding-bottom: $size;
            margin-bottom: $more;
        }
        ul{
            width: 550px;
            @include layout($wrap:wrap,$justify:space-between);
            margin-bottom: 56px;
            li{
                a{
                    font-size: $small;
                    color: $gray;
                }
            }
        }
        // picture
        > .picture{
            > .see{
                width: $middle;
                overflow: hidden;
                > .every{
                    width: 2010px;
                    @include layout;
                    dl{
                        width: 280px;
                        margin-right: 7px;
                        img{
                           width: $all;
                           margin-bottom: 15px; 
                        }
                        dt{
                            font-size: $size;
                            color: $black;
                            margin-bottom: $large + 4;
                        }
                        dd{
                            font-size: $size;
                            color: $black;
                            margin-bottom: $more;
                            ins{
                                font-size: $size;
                                color: $black;
                                background-color: $basic
                            }
                            del{
                                font-size: $size;
                                color: $gray; 
                            }
                            &:nth-child(3){
                                span{
                                    font-size: $size;
                                    color: $red;
                                    margin-left: 5px;
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                                span{
                                    display: inline-block;
                                    width: $large;
                                    height: $large;
                                    border-radius: calc($all / 2);
                                    background-color: $black;
                                    &:nth-child(2){
                                        background-color: $basic;
                                    }
                                    &:nth-child(3){
                                        background-color: #011c70;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .prev{
        @include position($start:117px,$end:50%);
        width: $wide;
        height: $high;
        color: $gray;
        > i{
            font-size: $more;
        }
    }
    > .next{
        @include post($right:117px,$to:50%);
        width: $wide;
        height: $high;
        color: $gray;
        > i{
            font-size: $more;
        }
    }
}

/* box05 */
#box05{
    padding: $large * 3 0 77px;
    background-color: rgba(136, 136, 136, 0.416);
    > .sale{
        width: $middle;
        margin: 0 auto;
        @include layout($justify:space-between);
        position:$relative;
        // left
        > .left{
            width: $half;
            @include margin;
            div{
                color: $black;
                margin: -30px 0 0 $morethan * 4;
                h4{
                    span{
                        display: block;
                        &:nth-child(1){
                            font-size: $size;
                            margin-bottom: 7px;
                        }
                        &:nth-child(2){
                            font-size: $small;
                            font-weight: $weight;
                            margin-bottom: $large + 9;
                        }
                    }
                }
                p{
                    &:nth-child(2){
                        margin-bottom: $size;
                        span{
                            font-size: $large + $small;
                            font-weight: $weight;
                            a{
                                font-size: $more;
                                font-weight: $weight;
                            }
                        }
                    }
                    &:nth-child(3){
                        margin-bottom: $large + 9;
                        span{
                            font-size: $small;
                            font-weight: $weight;
                        }
                    }
                    > button{
                        width: $morethan;
                        height: $more - 10;
                        font-size: $size;
                        font-weight: $weight;
                        color: $basic;
                        background-color: $black;
                        @include border($base:$black);
                    }
                }
                > figure{
                    width: $morethan * 4;
                    @include position($start:0,$end:15px);
                    img{
                        width: $all;
                    }
                }
            }
        }
        // right
        > .right{
            width: $half;
            position: $relative;
            h4{
                font-size: $large + 8;
                @include post($right:105px,$to:45%);
                background-color: rgba(238, 234, 234, 0.423);
                span{
                    display: block;
                    a{
                        font-size: $large * 2;
                        font-weight: $weight;
                        color: $black;
                    }
                    &:first-child{
                        margin-bottom: $size;
                    }
                    &:nth-child(2){
                        font-size: $small;
                    }
                }
            }
            > figure{
                width: $morethan * 5;
                @include margin;
                img{
                    width: $all;
                }
            }
        }
    }
}

/* box06 */
#box06{
    padding: $large * 3 0 77px;
    position: $relative;
    > #women{
        width: $middle;
        @include margin;
        > h3{
            width: $morethan * 5;
            font-size: $large + 10;
            font-weight: $weight;
            border-bottom: 1px solid $gray;
            padding-bottom: $size;
            margin-bottom: $more;
        }
        > ul{
            width: 550px;
            @include layout($wrap:wrap,$justify:space-between);
            margin-bottom: 56px;
            li{
                a{
                    font-size: $small;
                    color: $gray;
                }
            }
        }
        // picture
        > .picture{
            > .see{
                width: $middle;
                overflow: hidden;
                > .every{
                    width: $middle * 2;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    dl{
                        width: 280px;
                        margin-right: 7px;
                        img{
                            width: $all;
                            margin-bottom: $small;
                        }
                        dt{
                            @include info($down:$large + 4);
                        }
                        dd{
                            @include info($down:$more); 
                            > ins{
                                @include info($style:$black){
                                    background-color:$basic
                                };
                            }
                            > del{
                                @include info($style:$black);
                            }
                            &:nth-child(3){
                                span{
                                    @include info($style:$red);
                                    margin-left: 5px;
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                                span{
                                    display: inline-block;
                                    width: $small + 2;
                                    height: $small + 2;
                                    border-radius: calc($all / 2);
                                    background-color: $black;
                                    &:nth-child(2){
                                        background-color: $basic;
                                    }
                                    &:nth-child(3){
                                        background-color: #011c70;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .prev{
        @include position($start:117px,$end:calc($all / 2));
        width: $wide;
        height: $high;
        color: $gray;
        > i{
            font-size: $more;
        }
    }
    > .next{
        @include post($right:117px,$to:calc($all / 2));
        width: $wide;
        height: $high;
        color: $gray;
        > i{
            font-size: $more;
        }
    }
}

/* box07 */
#box07{
    @include padding;
    > div{
        width: $middle;
        height: 530px;
        @include margin;
        padding: $morethan 570px 0 40px;
        background: url('#{$img}/box07_pic1.jpg') no-repeat right bottom;
        box-sizing: border-box;
        @include border($base:#e5e5e5);
        h3{
           @include margin($bottom:74px);
           text-align: center;
        }
        p{
            font-size: $small;
            line-height: $size * 2;
            margin-bottom: 77px;
            span{
                font-weight: $weight;
            }
        }
        > dl{
            @include layout($justify:space-between);
            dd{
             @include info($style:$gray){
                line-height: $large + 4;
                margin-left: $small * 2;
             }   
            }
        }
    }
}